body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;

    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;

    background-color: #e6d9d0;
    overflow-y: scroll;
}

/*
    window
*/

.window {
    position: absolute;
    width: 500px;
    height: 800px;
    padding: 4px;

    border: 4px solid black;

    background-color: #e6d9d0;
}
.window > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.moving {
    opacity: 0.7;
}

.window_header {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 4px;
    margin-bottom: 4px;

    color: white;
    background-color: black;
}
.header_title {
    flex: auto;
    text-align: left;
    cursor: move;
}
.header_toolbar {
    display: flex;
}
.header_toolbar > button {
    margin-left: 4px;

    color: white;
    border: 1px solid white;
    background-color: transparent;

    cursor: pointer;
}
.header_toolbar > button:active {
    background-color: grey;
}

.window_content {
    height: 100%;
    border: 2px solid black;

    overflow-y: scroll;
    overflow-wrap: break-word;
}
.window_content::-webkit-scrollbar {
    border-left: 2px solid black;
}
.window_content::-webkit-scrollbar-thumb {
    background-color: black;
}
.window_content::-webkit-scrollbar {
    border-left: 2px solid black;
}
.content {
    padding: 50px 20px;
}
.content-header {
    margin-bottom: 20px;

    font-size: 48px;
    font-family: 'Black Han Sans', sans-serif;
}
.content-image {
    margin-bottom: 20px;

    object-fit: contain;
}
.content-image > img {
    width: 100%;
}
.content-body {
    font-size: 18px;
}

/*
    logo
*/
.title {
    padding: 40px;
}
.mainlogo {
    width: 600px;
}

/*
    content-grid
*/
.contentgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;

    height: 100%;
    padding: 0 50px;
    margin-bottom: 100px;
}
.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
}
.post:hover {
    transform: translate(5px, 5px);
}
:root {
    /* Base font size */
    font-size: 10px;

    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}
.signboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 4px;
    margin-bottom: 4px;

    border: 4px solid black;
    background-color: grey;

    font-size: 48px;
    font-family: 'Black Han Sans', sans-serif;
}
.article-header {
}

/*
    workbar
*/
.workbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 4px;

    border-top: 4px solid black;
    background-color: #e6d9d0;
}
.process {
    width: 150px;
    height: auto;
    margin-right: 4px;
    padding: 0 4px;

    border: 2px solid black;

    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}
.process:active {
    background-color: grey;
}

.active {
    color: white;
    background-color: black;
}
